button.navigationButtonHover:hover 
{
    background-color:purple;
}

h1.centerText 
{
    text-align: center;
}

p.centerText 
{
    text-align: center;
}

.petalBackground
{
    background-image: url("../IMG/sakuraPetalsFalling.gif");
    background-color: transparent;
}

div.navigationPadding
{
    padding-bottom: 20px;
}

div.titlePadding
{
    padding-top: 20px;
}

